h1{
    margin-left: 10%;
}
.names{
    margin-left: 10%;
    margin-bottom: 1%;
}
.input{
    margin-left: 10%;
    margin-bottom: 1%;
}
.inputMobile{
    margin-left: 9.5%;
    margin-bottom: 1%;

}
.inputPassword{
    margin-left: 8.5%;
    margin-bottom: 1%;

}
.inputPincode{
    margin-left: 8.5%;
    margin-bottom: 1%;

}
.inputCode{
    margin-left: 6.5%;
    margin-bottom: 1%;
   
}
.btn{
    margin-left: 30%;
}